.header
  background-color: #2A65DB

.header-title
  font-size: 20px
  color: #F2F2F2
  font-family: "Roboto", sans-serif

.spacer
  flex: 1 1 auto

.basket-button-icon
  color: #2A65DB
  background-color: #F2F2F2

.cart_length_indicator
  position: absolute
  right: 2px
  top: 60px
  background-color: burlywood
  border-radius: 12px
  padding: 0 12px
  font-size: 14px

mat-toolbar-row
  height: 100px !important
