<mat-toolbar class="header">
  <mat-toolbar-row>
    <span class="header-title" i18n>Test Technique AirWeb</span>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/cart" class="basket-button-icon" aria-label="Basket Icon Button">
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <span class="cart_length_indicator" *ngIf="cart.length > 0">{{cart.length}}</span>
  </mat-toolbar-row>
</mat-toolbar>
