<div class="wrapper">
  <h1>Votre panier</h1>

  <hr>

  <div class="cart-recap" *ngIf="cart.length > 0">

    <table mat-table [dataSource]="dataSource">
      <!-- Product Column -->
      <ng-container matColumnDef="Produit">
        <th mat-header-cell *matHeaderCellDef i18n> Produit </th>
        <td mat-cell *matCellDef="let element"> {{element.product.label}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="Quantité">
        <th mat-header-cell *matHeaderCellDef i18n> Quantité </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="Prix">
        <th mat-header-cell *matHeaderCellDef i18n> Prix </th>
        <td mat-cell *matCellDef="let element"> {{ element.product.price | number: '1.2-2' }} € </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | number: '1.2-2' }} € </td>
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef i18n> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button class="remove_product_button" aria-label="Remove one product from cart" (click)="removeProductFromCart(element)">
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | number: '1.2-2' }} € </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <button mat-stroked-button (click)="openCartValidationSnackBar()" aria-label="Show a snack-bar about command validation" i18n>
      Valider la commande
    </button>
  </div>

  <div class="empty-cart" *ngIf="cart.length === 0">
    <p i18n>Votre panier est vide...</p>

    <button mat-flat-button routerLink="/" i18n>Retour à la liste de nos produits</button>
  </div>

</div>
