.wrapper
  max-width: 960px
  margin: 20px auto
  min-height: 90vh

.empty-cart
  margin: 50px auto

.empty-cart button
  background-color: #2A65DB
  color: #F2F2F2

table
  width: 100%

tr.mat-footer-row
  font-weight: bold

.remove_product_button
  background-color: #2A65DB
  color: #F2F2F2
