<div class="wrapper">
  <div class="container">
    <button mat-button class="category-filter-button" (click)="resetFiltering()" i18n>
      Tout voir
    </button>
    <button mat-button class="category-filter-button"  *ngFor="let c of categories" (click)="filterByCategory(c.index.toString())">
      {{ c.label | titlecase }}
    </button>
  </div>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let p of displayedProducts">
      <mat-card class="product-card">
        <mat-card-title-group>
          <mat-card-title>{{ p.label | titlecase }}</mat-card-title>
          <mat-card-subtitle>{{ p.description }}</mat-card-subtitle>
          <img *ngIf="p.thumbnail_url !== null" mat-card-sm-image src="{{ p.thumbnail_url }}" i18n-alt  alt="{{ p.label | titlecase }} thumbnail">
        </mat-card-title-group>

        <span class="product_price" i18n>Prix unitaire : {{ p.price | number: '1.0-0'}} €</span>


        <button mat-flat-button class="remove_product_button" aria-label="Add one more product to cart" (click)="addProductToCart(p)" i18n>
          Ajouter au panier
        </button>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
