.wrapper
  max-width: 960px
  margin: 0 auto
  min-height: 90vh

.product-card
  max-width: 400px
  margin-bottom: 8px

.category-filter-button
  border-radius: 5px
  background-color: #F2F2F2
  color: #2A65DB
  display: inline-block
  padding: 10px
  margin-right: 8px

.category-filter-button:active
  border-radius: 5px
  background-color: #2A65DB
  color: #F2F2F2
  display: inline-block
  padding: 10px
  margin-right: 8px

.remove_product_button
  background-color: #2A65DB
  color: #F2F2F2

.add_product_button
  background-color: #2A65DB
  color: #F2F2F2

.product_price
  padding: 0 15px

